.banner {
  height: 80vh;
  width: 100vw;
  background-image:  asset_url('bande-film-cinema.avif');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-family: $title-font;
    font-size: 80px;
    color: #CC2022;
  }
}
