.list-card {
  background-image: asset_url('salle-cinema-vide-chaises_651396-2891.avif');
  background-size: cover;
  box-shadow: 5px 5px 10px #183642;
  height: 20vh;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
